<launch>
 <!-- todo add
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>
-->  
  <arg name="namespace" default="/robotis_op"/>
    <group ns="$(arg namespace)">
    <node pkg="robotis_op_teleop" type="robotis_op_teleop" name="teleop" output="screen"/>
  </group>
</launch>
